html, body {
  font-family: roboto;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #0b192f;
}

header {
  display: flex;
  justify-content: space-between;
  background: #162b4d;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 200;
}

header .logo span {
  color: #B71757;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: #b8b8b8;
}

.logo>a:hover {
  color: #b8b8b8;
}

nav a {
  margin-right: 25px;
  display: inline-block;
  padding: 40px 10px;
}

.logo, nav {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-size: 25px;
  margin-right: 10px;
}

.logo {
  font-size: 45px;
}

.post-1 {
  background: #B71757;
}

.post-1 p, .article-date-1 {
  color: #de93b1;
}

.post-2 {
  background: #0D7E71;
}

.post-2 p, .article-date-2 {
  color: #8bc1bb;
}

.post-3 {
  background: #b1660e;
}

.post-3 p, .article-date-3 {
  color: #dab68b;
}

.post-4 {
  background: #d12767;
}

.post-4 p, .article-date-4 {
  color: #eca7c1;
}

.post-5 {
  background: #2d95bb;
  text-align: left;
  padding: 50px;
}

.post-5 p, .article-date-5 {
  color: #abd4e4;
}

h1 {
  font-size: 45px;
  font-weight: 200;
}

h2 {
  margin-top: 0;
  font-size: 42px;
  font-weight: 200;
}

h3 {
  margin-top: 0;
  font-size: 40px;
  font-weight: 200;
}

p {
  margin-bottom: 0;
  font-size: 20px;
}

.article {
  padding: 55px 50px;
  text-align: left;
  width: 335px;
}

.arttime {
  width: 90px;
  height: 120px;
  float: right;
  font-size: 45px;
  margin: 20px 10px;
  text-align: center;
  font-weight: 200;
}

.article-date span {
  font-size: 30px;
  line-height: 5px;
}

.grid-articles {
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: 1050px 330px;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}

.post-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 525px;
}

.post-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 400px;
}

.post-3 {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 430px;
}

.post-4 {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 435px;
}

.img1 {
  background-image: url("../img/post1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.img2 {
  background-image: url("../img/post2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.img3 {
  background-image: url("../img/post3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.img4 {
  background-image: url("../img/post4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.grid-articles p {
  font-size: 16px;
  margin-bottom: 0;
}

.grid-news {
  background: #fff;
  display: grid;
}

.grid-news h3, .grid-news p {
  margin: 45px;
}

.grid-news img {
  width: 330px;
  height: auto;
}

footer {
  background-color: #162b4d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  color: grey;
}
